[2018-12-05 11:34] chris-crone opened #9 "Create CNAB installer"
A great way to install Compose on Kubernetes would be via a [CNAB](https://cnab.io).

[2018-12-06 07:10] mtyurt opened #10 "PersistentVolume support"
Is there any plan to add PersistentVolume support as in
https://kubernetes.io/docs/concepts/storage/persistent-volumes/ ?

[2018-12-06 08:58] simonferquel commented on #10
Actually we already translates data volume mounts as persistent volume claims. We don't expose all the pvc options though and that would be a most welcome addition.

[2018-12-06 15:12] alvarocantador opened #12 "Support for secrets"
Is there support for [secrets](https://kubernetes.io/docs/concepts/configuration/secret/) in place?

[2018-12-07 08:37] simonferquel commented on #12
We have support in place for that yes (alongside with configmaps). We still have to curate some aspects of the internal compose on kubernetes documentation (we'll do that in a PR soon), but here is the secrets and configmaps related section:

#### Secrets

Secrets in Swarm are a simple key-value pair. In Kubernetes, a secret has a name
and then a map of keys to values. This means that the mapping

[2018-12-07 08:39] simonferquel commented on #10
An extract from internal docs (that will come to the repo in a following PR) about volumes:
#### Volumes

There are several different types of volumes that are handled by Compose for
Kubernetes.

The following Compose snippet declares a service that uses a persistent volume:

[code]

A
[_PersistentVolumeClaim_](https://kubernetes.io/docs/concepts/storage/persistent-volumes/)
with an empty provider

[2018-12-09 20:58] niklas88 opened #19 "Support and document use with docker on native Linux"
Not everyone is using macOS or Windows for development. Besides Linux desktops this is also true for Google Cloud Console and Chrome OS with the built-in Linux containers.

[2018-12-10 08:32] chris-crone commented on #19
Hi @niklas88 and @amitripshtos!

The documentation that we have up right now is based off of what we had internally – we develop using Windows and macOS, and we install Compose on Kubernetes as part of Docker Desktop and Docker Enterprise.

We are working on adding more documentation and would love to have instructions for installing Compose on Kubernetes for hosted Kubernetes and for debugging on

[2018-12-10 08:42] amitripshtos commented on #19
Awesome, thanks !
Let me know if I can help you in some way regarding the documentation.

[2018-12-11 08:42] chris-crone commented on #19
There's a PR up adding documentation for AKS: https://github.com/docker/compose-on-kubernetes/pull/20

@amitripshtos PRs with documentation are most welcome! It would be great to have an install guide for all the platforms people use.

[2018-12-11 15:20] collabnix opened #21 "Issue with Compose on Kubernetes Installation on GKE"
# Infrastructure Setup:

- Docker Desktop 2.0 - Docker for Mac
- Docker Version: 18.09
- Kubernetes Enabled

## Verifying Docker Version

[code]

## Authenticating GCP Account

[code]

##  Verifying GKE context on UI

[code]

## Listing the GKE Cluster Nodes

[code]

## Creating Compose Namespace

[code]

## Install Helm server side component

[code]

## Deploy etcd operator and create an etcd clu

[2018-12-11 16:30] simonferquel commented on #21
It seems that your user has less access rights on the system than what we are trying to give to the compose service account. I would bet that gke might restrict impersonation rights for its users. I'll have to dig a little deeper though

[2018-12-11 22:12] simonferquel commented on #21
Seemed to be the same issue as this one: https://stackoverflow.com/questions/49844783/cannot-create-cluster-role-in-gke-even-though-i-am-owner-and-admin. You must first create a cluster-admin cluster role binding for your user before launching the installer

[2018-12-12 03:05] collabnix commented on #21
Got it fixed. The link was really helpful.

[code]

[2018-12-14 01:42] collabnix commented on #21
@simonferquel Wonder if "compose-etcd-client" the right entry for etcd server?

[2018-12-14 02:54] marziman commented on #19
Would be really great if you add docs, how to properly install compose it into an existing cluster. The docu was really thin. I also had problems to get it running.

[2018-12-14 08:13] simonferquel commented on #21
The problem we have to fix is that the docker cli itself does not import gcp auth provider, which makes the cli itself not capable to authenticate to gke.
We will make a pr for fixing that on the cli.

[2018-12-15 14:52] collabnix commented on #21
Are you planning to raise PR for that? This is what I get when I try to use `docker stack deploy`

[code]

[2018-12-18 13:36] simonferquel opened #26 "Introduce a v1alpha3 api version so that we can bring new features"
We currently support v1beta1 and v1beta2 api versions.

In the future, we want to introduce new features (candidate areas being pull secrets, pull policy, ingest controller interaction, …). For this we will need to make changes to the stack spec structure, and thus we need a new alpha API version that we can modify over time.

[2018-12-18 13:48] simonferquel opened #27 "Support private images by leveraging pull secrets"
Depends on #26.
We need to add a field on ServiceConfig for referencing a PullSecret, and convert it on reconciliation.
The flow would be:
- `$ docker stack deploy --with-registry-auth`
- for each service
  - `docker cli` get the registry auth info and populate a k8s secret named `<service>.pull-secret`
  - `docker cli` populate the PullSecret field in the service config with the secret name
- `do

[2018-12-19 09:16] simonferquel opened #29 "Installer should create default cluster roles"
Kubernetes has a feature called aggregated cluster roles (see https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles). The idea is that these roles are an union of all roles matching their label selector. Kubernetes comes with 3 such built-in clusterroles (view, edit, admin). So...

As a Kubernetes administrator
- I want users with global view, edit, or admin roles
-

[2018-12-25 02:00] collabnix commented on #21
@simonferquel Did you raise PR for this?

[2018-12-26 17:52] collabnix commented on #21
Tried with 0.4.17 and still the same issue.

[code]

[2018-12-27 13:59] silvin-lubecki commented on #21
Fixed in compose-on-kubernetes with #31 , which is vendored in docker/cli here https://github.com/docker/cli/pull/1583 .

[2018-12-27 14:02] silvin-lubecki commented on #21
@collabnix try with the https://github.com/docker/cli/pull/1583 branch? It should fix your problem.

[2018-12-27 14:37] chanwit opened #34 "Liveness Probe fails on Minikube"
When installing without using `--skip-liveness-probes`, the installation process also fails on Minikube.

Environments:
- Minikube 0.32
- Kubernetes v1.11.5, v1.11.6

[2018-12-27 16:17] marziman commented on #19
@chris-crone and the maintainers of this repo,

I am not sure why you released this without proper documentation?
Sure, it is now "open sourced" but it is not pretty useful if you guys dont give the guidance on how to use it "outside" the docker for mac kubernetes.
So I am a little unsatisfied how you play this and as you know from this issue, the poeple are asking for it. It also shouldnt be a ma

[2018-12-30 15:05] collabnix commented on #21
Do I need to get 19.03.0 Dev release?

[2018-12-31 14:11] gcavalcante8808 commented on #19
I have a great interest on this, we are using microk8s.

[2019-01-03 13:40] GitHub30 opened #35 "How do I install compose-on-kubernetes on Play with Kubernetes?"
Can I run compose-on-kubernete on PWK?

https://labs.play-with-k8s.com/

[2019-01-03 17:51] alexmavr commented on #27
There's a security consideration here in that all users with `pod create` permissions in the same namespace as the created stack will be able to retrieve the user's registry auth credentials and impersonate the user.  This may significantly impact our multi-tenancy story.

Consider the following scenario:
- User A, an application team member with limited access deploys a stack on namespace `apptea

[2019-01-04 13:19] herveleclerc commented on #10
Is there a solution to set the size of the pvc ? it is  apparently hard coded to 100 Mi.
On Azure i will create a dd of 1G because this is the miminum size for a dd

[2019-01-04 17:08] simonferquel commented on #27
AFAIU, the flaw is not with this PR, but with the very notion of Kubernetes Pull Secrets, and the fact that there is no standard way for the Docker CLI to generate a long-standing pull-token for a specific repo (that can be revoked by the owning user), and so Pull Secrets contain credentials with much more access rights than necessary.

Within the set of constraints we have:
- private images shoul

[2019-01-04 17:11] simonferquel commented on #21
Not sure if it is in the 19.03 branch yet. You can directly grab the binaries from PR 1583 if not: https://circleci.com/gh/docker/cli/20357#artifacts/containers/0

[2019-01-04 17:15] simonferquel commented on #10
@herveleclerc with v1alpha3 version coming, we can begin to introduce k8s specific stuff. I suspect that adding a VolumeSize field in the StackSpec struct, that we could populate in a `x-k8s-volume-size` compose-file fields makes complete sense

[2019-01-05 14:00] collabnix commented on #21
@simonferquel Just wanted to check if I can leverage docker-0.0.0-20190105050443-85291e3.tgz  from https://download.docker.com/mac/static/nightly/x86_64/ link. Any idea or link which I can follow to install it on Docker Desktop on macOS? Just want to ensure that I don't break existing Docker Desktop edition. Do suggest.

[2019-01-07 08:51] simonferquel commented on #21
As soon as you put it somewhere with higher priority in your PATH than the one installed with Docker Desktop, it should be fine. (just remove it once you want to revert to the official CLI).

[2019-01-07 14:20] #34 closed

[2019-01-07 16:08] chris-crone opened #38 "Installer should return error instead of panicking"
As discussed [here](https://github.com/docker/compose-on-kubernetes/pull/36#discussion_r245589661) it would be better if the installer would return an error instead of panicking.

[2019-01-07 16:45] #29 closed

[2019-01-08 07:39] herveleclerc commented on #35
Hi,

pwk is not working well at this time :( but here is the procedure

https://labs.play-with-k8s.com
create a 1 master and n worker nodes like said in welcome motd

`kubectl create namespace compose`

[code]

[code]

You will have to clone the repo https://github.com/docker/compose-on-kubernetes and change Makefile to compile binaries with CGO_ENABLED=0

on my mac

`Makefile`

[code]

I also cha

[2019-01-08 17:10] kinghuang opened #40 "Feature request: Ingress resources"
I'm experimenting with deploying existing Swarm stacks to Kubernetes via the Compose on Kubernetes controller. On Docker Swarm, the services are using Traefik for http/https ingress, configured with labels on Swarm services. Is there some way to adapt this to Ingress resources on Kubernetes via the Compose controller?

[2019-01-09 15:32] chris-crone commented on #38
Fixed by #39

[2019-01-09 15:32] #38 closed

[2019-01-10 13:52] simonferquel opened #45 "Add tests to the installer code"
Currently, the installer is not tested at all (except the parts used for e2e test environment deployment).

We need to improve our confidence in the installer, and thus require a bunch of unit tests and e2e tests (tests with custom TLS bundle, various ETCD configurations, ...)

[2019-01-10 16:48] simonferquel opened #47 "Prepare v0.4.18"
We are about to tag before merging v1alpha3.
We need first to update docs as the --skip-livenessprobes won't be needed anymore

[2019-01-10 16:58] chris-crone commented on #19
We now have [documentation for Minikube](https://github.com/docker/compose-on-kubernetes/blob/master/docs/install-on-minikube.md) and @herveleclerc kindly explained how to install it on play with Kubernetes [here](https://github.com/docker/compose-on-kubernetes/issues/35#issuecomment-452202793).

[2019-01-10 21:55] gcavalcante8808 commented on #19
Awesome @chris-cone! We'll test with microk8s and if it works we Will Send a pr. Thank you!

[2019-01-11 09:32] collabnix opened #49 "Stack API shows UNKNOWN under Compose on Kubernetes for Minikube"
I followed official Compose on Kubernetes README doc for Minikube. I installed Docker Desktop on macOS 18.09.0 and followed the complete doc(as shown in detail). The StackAPI still fails and shows UNKNOWN. Does it still require 19.03.x release? The Compose for Minikube doesnt talk about 19.03.x release. Do you think we need to update our doc?

Below is the detailed steps to reproduce the issue:

#

[2019-01-11 09:32] chris-crone commented on #47
I agree with @collabnix, it would be good to document that you need an as yet unreleased Docker CLI for GKE.

I think the best place would be in a guide for GKE (like the ones we have for [AKS](https://github.com/docker/compose-on-kubernetes/blob/master/docs/install-on-aks.md) and [Minikube](https://github.com/docker/compose-on-kubernetes/blob/master/docs/install-on-minikube.md)).

[2019-01-11 10:16] simonferquel commented on #49
v0.4.17 on minikube seem to require the --skip-liveness-probe flag. Keep posted, we are about to release v0.4.18 (which will require the v0.4.18 installer) that should fix the issue

[2019-01-11 14:30] simonferquel commented on #49
v0.4.18 is now out, you should be able to fix your installation  :)

[2019-01-11 14:38] simonferquel opened #51 "Document installation on other managed clusters"
We currently have documentation for installing on Minikube and Azure AKS.
We should also document the installation on:
- ~~Google GKE~~
- Amazon EKS
- Kubernetes on Amazon AWS
- Play with Kubernetes
- Kind (Kubernetes in Docker)
- Digital Ocean
- Alibaba Cloud (**Help wanted**)
- [ insert your favorite k8s environment here ]

Based on the existing documentation, this should be straight forward.

[2019-01-11 14:40] simonferquel commented on #12
Documentation is online, closing

[2019-01-11 14:40] #12 closed

[2019-01-11 14:42] simonferquel commented on #47
v0.4.18 is done, closing

[2019-01-11 14:42] #47 closed

[2019-01-11 14:42] #49 closed

[2019-01-11 17:19] simonferquel commented on #49
There is something odd with your installation: the docker cli manage to reach kubernetes as it reports the k8s version correctly, but compose api or controller seems not able to start. Can you do a kubectl -n compose logs deploy compose compose-api ?

[2019-01-11 17:22] collabnix commented on #49
[code]

[2019-01-11 17:24] simonferquel commented on #49
I am pore interested in the logs from compose and compose-api deployments :)

[2019-01-11 17:33] collabnix commented on #49
Here's the logs:

[code]

[code]

[code]

[code]

[2019-01-11 17:37] simonferquel commented on #49
Ok, it seems that you deployed etcd operator but you forgot to actually deploy an etcd instance (or maybe you installed it on another namespace)

[2019-01-11 17:42] collabnix commented on #49
I followed the README instruction:

[code]

[2019-01-12 00:44] collabnix commented on #21
I saw PR capturing three right now under pre-requisite. Thanks https://github.com/docker/compose-on-kubernetes/pull/52

[2019-01-12 09:47] collabnix commented on #49
I believe I already performed the steps for etcd cluster with the listed compose-etcd.yml file. I followed the complete steps but still not a single time I was successful. Can you suggest?

[2019-01-12 16:45] collabnix commented on #49
I pigged a bit and found that etcd cluster is not coming up well.

[code]

[2019-01-12 17:14] collabnix commented on #49
I got it fixed. There is a minor incorrect entry under README.md

It should be:

[code]

[2019-01-12 21:25] garethr opened #53 "Installation instructions needed for microk8s"
Installation on [Microk8s](https://microk8s.io/), following the minikube instructions (expanded on https://collabnix.com/a-first-look-at-compose-on-kubernetes-for-minikube/) starts everything running:

[code]

However the API server crashes before providing the API.

[code]

[2019-01-14 08:44] simonferquel commented on #53
I think the etcd instance name is wrong (should be compose-etcd, see the `service/compose-etcd-client-client` created).

The API server logs suggest that indeed, the etcd store backend cannot be initialized.

[2019-01-14 10:23] chris-crone commented on #21
Closing this as #52 is merged.

[2019-01-14 10:23] #21 closed

[2019-01-14 10:32] #26 closed

[2019-01-14 11:08] simonferquel commented on #35
@herveleclerc Could you make a PR out of this for documenting installation on PWK?

[2019-01-14 11:10] simonferquel commented on #53
@ulyssessouza can you have a look at this ?

[2019-01-14 11:51] ulyssessouza commented on #53
@simonferquel @garethr I've enumerated some problems in this blog post in https://github.com/docker/compose-on-kubernetes/pull/54#pullrequestreview-192107549

[2019-01-14 12:05] simonferquel opened #57 "PerssitentVolume enhancement"
Our current persistent volume support lacks some important features. Mainly we need support for:
- configurable size
- configurable storage class
- configurable mode
- provisioner-specific options

For this, we'll need to introduce a root-level volume-list in the stack spec so that we can populate those options easily (instead of treating all volume mounts as default-100MB volumes)

[2019-01-14 12:05] simonferquel commented on #10
Closing in favor of #57

[2019-01-14 12:05] #10 closed

[2019-01-15 10:05] simonferquel commented on #27
@alexmavr @justincormack do you think of potential alternatives ? I am a bit short on ideas.

[2019-01-15 10:10] simonferquel commented on #27
I think there is no issue on the API Server / Controller side, it is more a User Experience problem

[2019-01-15 14:05] justincormack commented on #27
I don't think that this workflow should use the user's credentials. I know that is how the pull secrets docs suggest you use it, but as Alex points out this secret then belongs to the service account, so it should be a service account registry account (ie read only access, not attached to a specific user, scoped for the repos that this service account needs) that is used. For dev use it is kind of

[2019-01-15 14:24] simonferquel commented on #27
Hmm IIRC, swarm's implementation of `--with-registry-auth` seems to have the exact same flaw then (it copies the user credentials to the service definition). So we have to decide on the approach to take here for the docker CLI:
1. prefer feature parity:
 - implement `--with-registry-auth` with the same semantic as the swarm implementation (transparently creating pull secrets with the user's creden

[2019-01-15 16:59] justincormack commented on #27
I definitely don't think we should do 1. or 3., and would generally be in favour of removing that from Swarm, ideally to match Kub behaviour once we have a usable path there. 2 probably with something like 2b sounds good to me.

[2019-01-16 13:51] simonferquel commented on #27
Reopening for tracking CLI side

[2019-01-18 15:44] collabnix opened #58 "Error: the server is currently unable to handle the request (post stacks.compose.docker.com)"
## Pre-requisite

- Install Docker Desktop on MacOS
- Enable Kubernetes

## Verifying Minikube Status

[code]

## Verifying Current Context
[code]

## Listing out Services running in Minikube

[code]

[code]

## Verifying Docker Version
[code]

## Create docker-compose file

[code]

## Listing out the stack

[code]

[code]

[code]

[code]

Any idea? It was working for me few minutes back.

[2019-01-18 15:58] collabnix commented on #49
Please ignore the last comment. The compose-etcd is the right name for metadata.

[2019-01-20 14:01] collabnix commented on #35
Tested it and it worked like a charm. All I tried putting it under script https://github.com/collabnix/compose-on-kubernetes/blob/master/scripts/pwk/prepare-pwk.sh to keep it simple. The only issue I faced was sometimes the tiller deploy pod took more time to come up.

[2019-01-20 15:15] GitHub30 commented on #35
@collabnix
Thank you. It works very well on PWK:)
[code]

[2019-01-20 17:05] collabnix commented on #35
Thanks for giving a try @GitHub30. All eyes on CNAB & see how it can simplify things.

[2019-01-21 11:11] ijc commented on #35
@collabnix are you planning on opening a PR with your changes/additions?

[2019-01-21 11:18] ijc commented on #53
Since #54 was closed (as a docs fix AFAICT) is this one also now closable? /cc @simonferquel @ulyssessouza

[2019-01-21 11:44] simonferquel commented on #58
Something really strange has happened: the services exposing your etcd are there, but there is no etcd pod in your environment except for etcd operator infrastructure ones)

[2019-01-21 12:40] ulyssessouza commented on #53
@ijc For me yes

[2019-01-21 13:00] #53 closed, assigned to nobody

[2019-01-21 22:47] neerolyte opened #59 ""invalid configuration: no configuration has been provided" error with microk8s"
I'm trying to get compose running with microk8s.

Originally I ran in to an error about `.kube/config` not being present:

[code]

I was able to resolve that by asking `kubectl` to set a context name (this writes out a basic config file):

[code]

but then I get stuck on a less obvious error:

[code]

It'd be great if this error could give more context because it's unclear where it's coming from a

[2019-01-22 10:23] simonferquel commented on #59
`kubectl config set-context` creates an empty context with no configuration. It seems microk8s store its kubeconfig file in a non-default path. To create a kubeconfig file from the microk8s environment, you can do `microk8s.kubectl config view --raw > $HOME/.kube/config` (see https://github.com/ubuntu/microk8s#accessing-kubernetes)

[2019-01-23 00:23] neerolyte opened #60 "compose pods in CrashLoopBackOff with minikube"
Attempting to try compose-on-kubernetes with a minikube I have followed https://github.com/docker/compose-on-kubernetes/blob/master/docs/install-on-minikube.md .

I have ended up rebuilding minikube with 8 vCPUs and 8GB of RAM to see if it was a VM resources issue, so this is from a fresh install.

Minikube already seemed to have an etcd so I skipped manually installing it:

[code]

The installer

[2019-01-23 01:57] neerolyte commented on #59
Thanks you're right that does produce a better config file and lets me progress further.

[2019-01-23 03:19] neerolyte commented on #59
I did get this working eventually, I'm going to try put together and submit a PR with notes to help the next person - having the original error explain more of what's gone wrong would still be helpful IMO, so I'm not closing this.

[2019-01-23 04:54] neerolyte commented on #60
Ok my issue here stems from the statement at https://github.com/docker/compose-on-kubernetes/blob/5fe7240/docs/install-on-minikube.md#deploy-etcd :

There is an `etcd` in `kube-system` but apparently Compose on Kubernetes is not looking for that one and I do have to run through the [How to deploy etcd](https://github.com/docker/compose-on-kubernetes/blob/5fe7240666b3432ee16c0fdbe222f6511ffcbc36/do

[2019-01-23 10:24] ijc commented on #60
Thanks for your report. I raised some docs clarifications in #62 which I hope will help.

[2019-01-23 13:06] #60 closed

[2019-01-23 22:05] neerolyte commented on #60
Yep that makes much more sense, thanks :)

[2019-01-24 10:17] ijc commented on #59
FWIW I agree that the message should be made clearer. I think (but am not sure) that this might actually be a `docker/cli` change.

[2019-01-28 09:23] simonferquel opened #64 "[Networking] Use ClusterIP when possible"
# Context
Today, Compose on Kubernetes creates Headless Services to enable Service to Service communication. This
brings the same developer experience as when working with `docker-compose` or `swarm`, but it is not always the best option. We should prefer creating ClusterIP if we get enough information about how to configure it properly.

## Headless service pros
- No KubeProxy involved: direct PO

[2019-01-28 10:06] simonferquel opened #66 "Stack Status: more details"
Currently, the stack status is very limited in term of information it brings (just the reconciliation phase an a single error message)

We'd like to show more informations there:
- Details about each service:
  - Link to every created child resource
  - Copy of Child Resources status
- Scale information (similar to the scale subresource)
- TBD

[2019-01-28 14:10] simonferquel opened #67 "Replace testkit with Kind, and test on Kubernetes v1.13"
Originally we used to run e2e tests with Testkit, an internal tool at Docker to create cluster.
We have recently moved to Kind for testing PRs, and as the current in-dev branch will only be deployed in Docker products based on Kubernetes 1.11+, we can now remove all things related to testkit from the master branch, and use Kind everywhere. (we'll keep testkit config files on our CI environment to

[2019-01-29 11:35] simonferquel opened #68 "Bugfix: support Delete with PropagationPolicy=Foreground"
This is a critical bug in current master:
For now, trying to delete a stack with PropagationPolicy=Foreground triggers a reconciliation loop. We need to fix that ASAP.

ping @wsong @BillMills

[2019-01-29 15:27] #68 closed

[2019-01-29 20:42] wsilva commented on #58
I faced a similar issue a couple times. I figured out that I was trying to deploy a new etcd cluster before etcd operator is up and running.

Both times I fixed running manually the following commands to create the etcd cluster used by compose:
[code]

Then, after the pods running I run the following to reinstall it:

[code]

And then everything worked fine.

Not sure if it is the same issue but i

[2019-01-30 16:21] waveywaves commented on #45
@simonferquel I want ot take this up. Is there anything in particular I should keep in mind before starting work on this issue.

[2019-01-30 16:46] simonferquel commented on #45
@waveywaves Thanks a lot for proposing this. There are 2 categories of tests we'd like to have:
- Unit tests using kubernetes Fakes:
  - validate that the installer creates the required entities for any given set of options (a huge matrix here, this might need some priorization)
  - validate the installation state detection and the logic behind deciding to re-deploy or not given a previous state,

[2019-02-01 20:01] waveywaves commented on #45
Okay, I will work on these given points. Thank you @simonferquel

[2019-02-13 13:19] guillaumerose opened #70 "Be able to choose the healthcheck api-server port"
Currently in Docker Desktop, we deploy Compose on Kubernetes with option `--network-host=true` so that we can reuse the same etcd as Kubernetes core API.

The default port for api-server is 8080 which collides with containers deployed by hand by users.

Steps:
1. Activate Kubernetes in Docker Desktop
2. `docker run -p 8080:80 -it nginx`

Output: `Error starting userland proxy: listen tcp 0.0.0.0:8

[2019-02-13 13:24] simonferquel commented on #70
Hmm, actually it is the HealthCheck port. We should add a flag in API server to disable the HealthCheck listener (currently the --skip-healthchecks install flag only skip the declaration in the pod template), and another to change the healthcheck port (and surface this flag to the installer as well).

Thanks for the feedback!

[2019-02-13 13:27] djs55 commented on #70
This would be the root cause of https://github.com/docker/for-mac/issues/3522 . I've also filed https://docker.atlassian.net/browse/DD-719

[2019-02-13 13:30] djs55 commented on #70
There used to be a solution in Desktop to avoid this kind of problem -- we would avoid binding in the VM to avoid clashes there: https://github.com/moby/vpnkit/commit/4f21cb2e40f510f21f9971d06f4be72dd1ac0c14 . I think we lost  it at some point in the past.

[2019-02-13 17:06] goodinfoconsulting opened #71 "Compose on K8 Crashes when Azure Kubernetes (AKS) Node Restarts"
We followed the blog here to install Compose-on-Kubernetes on a 1 Node Azure AKS Cluster https://github.com/docker/compose-on-kubernetes/blob/master/docs/install-on-aks.md

We've followed these instructions to the T, including ensuring that we install an etc-d cluster separate from the default etc-d instance that comes with K8.

**Everything works great on first install.**

_As advertised, we are

[2019-02-13 19:20] simonferquel commented on #71
I'll do some test. I think the etcd instance restart might cause some issues.

[2019-02-15 08:16] goodinfoconsulting commented on #71
Hi @simonferquel , any updates on this?

[2019-02-15 08:20] simonferquel commented on #71
I did not have time yet to investigate the issue, I plan to do that early next week.

[2019-02-15 09:59] #70 closed

[2019-02-17 18:01] diabloxenon commented on #71
The same problem has been happening in Microk8s also.

[2019-02-18 08:57] simonferquel commented on #71
I just had a look at it, and have rooted the issue:
- Default etcd-operator configuration uses EmptyDir instead of your default StorageProvider as persistent storage driver. I suppose it is for making it as fast as possible to deploy test clusters, but default configuration should be tweaked a bit.
- There are 2 things you can do to make things better:
  - https://github.com/coreos/etcd-operator/b

[2019-02-18 08:58] simonferquel commented on #71
I will write a PR about ETCD-operator proper use.

[2019-02-22 10:00] jcsirot opened #75 "e2e test "delete stacks with propagation=Foreground" is flaky"
Executing this test may lead to a crash of the compose controller pod

[code]

[2019-02-22 14:05] #71 closed

[2019-02-25 10:52] #75 closed

[2019-02-25 13:22] jcsirot commented on #67
Partially done in #74

[2019-02-27 08:03] waveywaves opened #77 "Not able to pull development images from docker hub registry"
While installing compose-on-kubernetes on Openshift, docker is not able to pull the images.
I had a sucessful installation before this a few days ago and upon trying to install again got the following errors in the events log.

[code]

I was able to pull the `docker/kube-compose-controller` and  `docker/kube-compose-api-server` images but not the developer ones.

[code]

[code]
[code]

[2019-02-28 14:33] rasmusskovdk opened #79 "Overlap with kompose"
How does this initiative differ from https://github.com/kubernetes/kompose?
Seems very alike.

[2019-02-28 21:20] waveywaves commented on #45
@simonferquel I have started work on this. Please do assign this issue to me.

[2019-03-01 09:24] simonferquel commented on #27
CLI side is merged, but we also want to have private image support trough using a Service Account already associated with pull secrets. (keeping it open then)

[2019-03-01 09:26] simonferquel commented on #45
For some reason github refuses to assign it to you. I'll assign it to myself in the mean time then, to makes sure no one else works on it.
Also, please open a WIP Pull Request so that we can see progress / provide early feedback.

[2019-03-01 09:36] simonferquel commented on #77
Dev images are only built using your local daemon and are never pushed to the registry. The development workflow is currently tailored for developers using Docker Desktop (which provides a single-node local kubernetes).
This works on Docker Desktop, because the daemon used for building images is the same as the one using to run Kubernetes workloads (so when you do a `docker build`, the built image

[2019-03-01 09:44] simonferquel commented on #79
The key difference with Kompose, is that Kompose is a client-side "one-shot" conversion tool, while compose-on-kubernetes approach is to bring a new server-side Kubernetes resource called "Stack" which is reconciled into lower level Kubernetes resources (the same way Kubernetes reconciles Deployments into Replicasets).

This allows interesting stack-level operation like:
- stack-level monitoring (

[2019-03-01 11:21] #79 closed

[2019-03-02 03:15] waveywaves commented on #77
Was able to change the image, using the IMAGE_REPO_PREFIX, so that a workable image could be pulled from dockerHub without giving an `ErrImagePull` error.
[code]

[2019-03-02 03:15] #77 closed

[2019-03-06 12:47] #64 closed

[2019-03-09 00:23] MBARIMike commented on #57
How about also interpolating variables from .env file settings?

[2019-03-17 13:10] akin-ozer commented on #60
Deleting part of deployment config file "health-checkz" and following "8080" flag form both failing pods fixes this issue. I think "installer-linux" not correctly configured because "healt-checkz" flag doesn't exists. You can trace this issue from failed pods.

[2019-03-19 19:19] ry4nz opened #85 "Update Kubernetes vendor to 1.13 or later"
Kubernetes vendor is using 1.11.  This ticket is to track the effort to bump to 1.13 or later.

Notice there are API changes for the bump.  For example  `scheme.AddGeneratedConversionFuncs` was removed.

[2019-03-20 14:12] simonferquel opened #89 "[CI] bump k8s 1.14 test environment to 1.14 rc1"
1.14 rc1 is out, we need to bump our CI.

[2019-03-21 15:17] #89 closed

[2019-03-21 17:30] carolynvs opened #92 "Invalid Gopkg.toml file"
I wanted to give you a heads up that your Gopkg.toml file is invalid and causes problems for people trying to depend on your library.

Entries like this

https://github.com/docker/compose-on-kubernetes/blob/3fcc42fdbcf6e37cc1da2363369846a74a7ef0dd/Gopkg.toml#L25-L27

should be

[code]

`revision` in the Gopkg.toml means a specific git commit hash. `version` indicates a tag.

Otherwise consumers of

[2019-03-25 16:23] chris-crone commented on #92
Thanks for the report @carolynvs, I'll take a look!

[2019-03-26 11:17] #92 closed

[2019-04-01 06:09] philipz commented on #66
scale +1

[2019-04-01 09:09] simonferquel commented on #85
We moved to 1.14. Closing

[2019-04-01 09:09] #85 closed

[2019-04-01 09:10] #67 closed

[2019-04-03 20:53] kfox1111 opened #98 "etcd dependency"
Why store all the state in an etcd? You could store the state back into k8s via crd specifically for compose-on-kubernetes. This would make compose-on-kubernetes totally stateless and thus, easier to manage.

[2019-04-12 12:07] chris-crone commented on #98
Compose on Kubernetes used to be a CRD but we moved to an API server to provide a better UX. Specifically with older versions of Kubernetes, you couldn't do much (any?) validation of payloads. This meant that all errors appear in the reconciliation loop rather than synchronously when the user tried to do something.

Shameless plug: I did a [talk about exactly this at DockerCon EU 2018](https://www

[2019-04-13 03:30] tienvx commented on #58
I faced the same problem. This is how I fix it:
1. Delete the minikube cluster by running `minikube delete`
2. Create new compose-etcd.yaml file using the new content in the [doc](https://github.com/docker/compose-on-kubernetes/blob/master/docs/deploy-etcd.md#option-1-create-an-etcd-cluster-for-quick-evaluation)
3. Follow step by step in https://collabnix.com/a-first-look-at-compose-on-kubernetes-

[2019-04-16 09:57] simonferquel commented on #98
Once we support only versions of kubernetes suporting CRD subresources and conversion webhooks (as well as admission and mutating webhooks), I'd love for us to move back to a CRD for easier deployment. We'll need to provide a data-conversion tool in the process then, but I aggree with you @kfox1111, that would be awesome :)

[2019-04-16 10:02] simonferquel commented on #98
(for context, see https://github.com/kubernetes/enhancements/issues/598)

[2019-04-16 15:54] kfox1111 commented on #98
ah. gotcha.

Could the storage be abstracted so that crd and etcd could be co-supported so that those that already have enough functionality in the Kubernetes cluster can use the stateless version, and those that are on older clusters can use the stateful one? Wouldn't a validation webhook be enough? Maybe supporting both is too much work though.

[2019-04-16 16:08] simonferquel commented on #98
Problem is, conversion webhooks are not there yet, even in 1.14 (beta is planned for 1.15). It might not be too much of a problem with v1beta2 and v1alpha3, but it is a serious issue for supporting v1beta1 which is how the docker Enterprise UI talks to compose on Kubernetes as of today.

[2019-05-10 06:04] masayuki14 opened #103 "Add remove stack command to README"
I tried to use compose on kubernetes according to README.
And I could access deployed stack with localhost:33000 .
But I could not stop stack because I am beginner.
So I think that adding how to remove stack to README is better for beginner.

thanks.

[2019-05-13 09:40] AdamDadvar opened #105 "Persistent Volumes do not interact with PostgreSQL correctly"
**Problem**
It is not possible to start up a postgres container with compose on kubernetes when using a persistent volume. Docker containers are permissioned for `root` but Postgres creates a `postgres` user (with reduced privilege) which needs permissions for the data directory .

**Steps to Reproduce**
1. Create a `docker-compose.yaml` file with the following contents:
[code]
2. Start the cluste

[2019-05-24 07:09] masayuki14 opened #106 "How do I check Docker CLI version included PR or not."
Now I am trying to use Compose On Kubernetes on GKE with as follows.

But I'm not sure convinced the right Docker CLI version of local machine.
How Do I check it.

Thank you for the developer Team.

[2019-05-30 18:57] bgehman opened #107 "How to uninstall / remove?"
I'm running docker-desktop (on Mac) `v2.0.4.1 (34207)` from the edge channel.

I'd like use Kubernetes, but without this Compose integration that is automatically installed along with Kubernetes.  I suspect this is the cause of High CPU usage of the hyperkit VM but I can't prove it.  I notice in the kube-apiserver logs these types of things (every minute):

[code]

So question: is there a way to h

[2019-05-31 06:51] masayuki14 opened #108 "I can not deploy to GKE with "failed to find a Stack API version""
I tryed to install with Document as follows:
https://github.com/docker/compose-on-kubernetes/blob/master/docs/install-on-gke.md
But I couldn't run compose-on-kubernetes with GKE.

So I run installing process 2 times. But I can't.
These are commands I executed 2nd time.

[code]

After that run deploy.

[code]

Docker CLI version

[code]

I cannot find compose api

[code]

[2019-06-03 13:13] silvin-lubecki commented on #106
Unless you build and use your own docker/cli, this PR will be shipped only in the next docker/cli release `19.03` (which will be pretty soon). All previous releases (last one is `18.09`) are not compatible with GKE.

[2019-06-03 13:14] silvin-lubecki commented on #106
I will now close this issue, hopping my previous comment has enough informations to answer the question. Feel free to re-open the issue if you think I'm wrong 👍

[2019-06-03 13:14] #106 closed

[2019-06-03 14:08] mvanmeerbeck commented on #108
+1 same problem but with minikube

[2019-06-04 08:02] masayuki14 commented on #106
@silvin-lubecki
Thank you very much.

Should I add this information to document(`install-on-gke.md`) by PR ?
OR does it not need as `19.03` will ship soon ?

[2019-06-04 08:14] silvin-lubecki commented on #106
I think it's not needed as the release will be in few days 👍

[2019-06-04 15:36] chris-crone opened #111 "Bind mount e2e test has been reported as flaky"
This requires more investigation. The logs I have are as follows:
[code]

[2019-06-04 15:53] chris-crone commented on #111
Actual issue is that this test was being run on RHEL where the `/etc/host.conf` file does not contain the expected string. Closing the issue.

[2019-06-04 15:53] #111 closed

[2019-06-07 10:48] GitHub30 commented on #108
+1 same problem but with minikube

[2019-06-11 00:52] masayuki14 commented on #108
Does anyone have a good idea?

[2019-06-14 11:48] jcsirot commented on #103
Thank you for the PR.

[2019-06-14 11:48] #103 closed

[2019-06-24 13:48] cjancsar commented on #27
Any docs for how to use this?

[2019-06-24 14:24] silvin-lubecki commented on #27
Hello @cjancsar there are no documentations right now, as these features are still experimental.
But you will find more explanation on [this PR](https://github.com/docker/cli/pull/1617).

[code]

[2019-06-25 23:06] denisa commented on #51
Alicloud, please.

[2019-06-26 02:36] cjancsar commented on #51
AWS?

[2019-06-26 02:50] cjancsar opened #114 "Deploy etcd raises error"
When following instructions in https://github.com/docker/compose-on-kubernetes/blob/master/docs/deploy-etcd.md line-by-line, when running the `kubectl apply -f compose-etcd.yaml` command, an error is raised:

`error: unable to recognize "compose-etcd.yaml": no matches for kind "EtcdCluster" in version "etcd.database.coreos.com/v1beta2"`

I have looked through many related issues but have not been

[2019-06-26 09:50] silvin-lubecki commented on #51
Hello @denisa and @cjancsar, help is welcome here to improve the documentation 😺
The installation procedure should look like [the GKE one](https://github.com/docker/compose-on-kubernetes/blob/master/docs/install-on-gke.md), but with a different administration section.
Feel free to open a PR on the docs, or ask for help to write it 👍

[2019-06-26 10:13] simonferquel commented on #114
The EtcdCluster CRD is installed by etcd-operator. Can you confirm that etcd-operator is running on your cluster ? Also what does `kubectl get crd` gives you?

[2019-06-26 12:06] cjancsar commented on #51
@silvin-lubecki I can add docs for it, however I spent about 4-6 hours on this yesterday and am about ready to move on to just using `Kompose` as it isn't very straight forward.

I got to adding `heml` and the `etcd-operator` but I could not bring up a etcd cluster so things failed after that.

Please let me know if you can point me in the right direction and I will try to modify my approach. I ha

[2019-06-26 12:29] cjancsar commented on #114
I have run out of time to work on this and will just need to use `Kompose` instead sorry. Maybe I will get back to this eventually. But will close for now.

[2019-06-26 12:29] #114 closed

[2019-07-03 18:52] fscamuzzi2 commented on #108
same here!!!!

[2019-07-03 23:29] eclipseo opened #115 "Build error: too many arguments in call to yaml.NewDecoder"
With Golang 1.12.6:
[code]

NewDecoder seems to only take one argument:

https://github.com/docker/compose-on-kubernetes/blob/7d98bfa0e73dbcf774624f1fb0ab2d3644309f94/vendor/gopkg.in/yaml.v2/decode.go#L245-L249

I can't find yaml.WithLimitDecodedValuesCount anywhere.

[2019-07-03 23:32] eclipseo commented on #115
Seems to depend on https://github.com/go-yaml/yaml/pull/375

[2019-07-08 12:43] silvin-lubecki commented on #115
You are right about the PR on `go-yaml`, but since it was never merged, the project depends on a fork of this library : https://github.com/docker/compose-on-kubernetes/blob/master/Gopkg.toml#L67
It adds a fix to avoid the infamous YAML bomb https://github.com/docker/compose-on-kubernetes/blob/master/internal/parsing/loader_test.go#L17

How are you building the project? I wonder how you got this er

[2019-07-08 12:43] #115 closed

[2019-07-08 16:50] eclipseo commented on #115
I am building the project unbundled, not using go modules yet (don't have the tooling distro side yet). So I need to build each dependency separately. I've used simonferquel fork and replaced the import path accordingly. I have yet to test it but it should work.

[2019-07-09 07:55] silvin-lubecki commented on #115
The project does not use `go modules` yet but [dep](https://golang.github.io/dep/) instead. As the vendoring is embedded and versioned I still don't understand why do you need those manual steps?
Are you wiping the `vendor` directory?

[2019-07-09 22:40] phng commented on #64
I looked at the PR and it seems there are 2 new properties can be set `InternalPorts` and `InternalServiceType`. How do I go about using these as they are not valid compose file property?

[2019-07-10 09:36] silvin-lubecki commented on #64
Hello @phng , this feature was introduced in the `docker/cli` with this PR https://github.com/docker/cli/pull/1815/files#diff-b3114871e359bbcd13674fefe7b3e16eR30 and then refactored on this PR https://github.com/docker/cli/pull/1823 .

To summarize, you can use this feature in your compose file adding
[code]
This feature is available with the latest 19.03 docker cli (should be shortly released), a

[2019-07-10 15:52] denisa opened #118 "Mapping to job?"
deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

has two very different behavior:
in the docker world, the service is restarted until it completes successfully, then it is left to rest.
in the kubernetes world, the service is constantly restarted, even after it has completed successfully

It seems that the (expected) docker behavior would best be achieved by mapping t

[2019-07-11 16:50] phng commented on #64
@silvin-lubecki Thanks for the instructions.

I added
[code]
However, the service created is still a headless headless service.

[code]

[2019-07-15 15:26] phng commented on #64
It looks like my Docker Desktop kubernetes version is 1.14.3, and stack api version is v1beta2. How do I upgrade the server version to v1alpha3? Or do I have to wait for the new release in edge channel?

[2019-07-18 20:42] alanjds opened #119 ""the server has asked for the client to provide credentials""
After following the install instructions and installing an extra etcd cluster, the API got stable up. However, directing any command via `docker stack` gives the answer "the server has asked for the client to provide credentials", even the `kubectl` commands working nicely:

[code]

Am I doing something wrong or is `docker stack` doing wrong?

(cc: @henriquegibin, @adelsjnr, @thiagoscherrer)

[2019-07-19 08:25] jcsirot commented on #119
Hello @alanjds, thank you for opening the issue. Can you give us more details about the environment on which your kubernetes cluster is running (on-premises? GKE?...)

[2019-07-19 21:06] alanjds commented on #119
Sure.

We are evaluating k8s options. This is a Rancher-installed EKS. We let the Rancher do everything it wanted. The authentication is via Github. Then I logged into Rancher and downloaded a generated `~/.kube/config` file.

As you see, every `kubectl` command is working, so I would assume that no auth issue is occurring.

Am I missing something obvious? I have no previous experience with k8s, o

[2019-07-21 03:32] awh4kc commented on #108
What happens you run `kubectl get all --namespace compose`

[2019-07-24 14:47] djs55 opened #120 "panic: Get https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps/extension-apiserver-authentication: dial tcp 10.96.0.1:443: connect: connection refused"
When I restart my Docker Desktop on Windows there's a (presumably transient) "connection refused" which causes compose-on-kubernetes to print its command-line arguments and panic.

I see the following:
[code]
A little while later the other pod failed: (presumably this is a cascade failure)
[code]

[2019-07-24 16:13] djs55 commented on #120
I think the error path is probably

[2019-07-26 09:16] silvin-lubecki commented on #118
Hello @denisa , thank you for this issue. We have plan about Kubernetes jobs, so yes it may fit with what you propose.

[2019-07-26 14:50] #120 closed

[2019-08-01 13:08] ilyakaznacheev commented on #51
Probably should add [Mail.ru Cloud](https://mcs.mail.ru/containers/) and [Yandex Cloud](https://cloud.yandex.ru/services/managed-kubernetes) into the list.

[2019-08-10 03:02] gcavalcante8808 opened #122 "`Unauthorized` error with k3s on `docker stack deploy` command."
Hello Folks,

I'm trying to use compose-on-kubernetes with k3s 0.8.0 and I followed the minikube instructions. In the last step, that uses `docker stack deploy` command, I just get an `unauthorized` response.

Compose-api logs:
[code]

Compose logs:
[code]
How can I Debug this? Is it somewhat related with the controller log?
I'm using K3S 0.8.0 (which uses kubernetes 1.14.5-k3s).

Thanks in advanc

[2019-08-20 09:50] silvin-lubecki commented on #122
Hello @gcavalcante8808 thank you for testing `compose-on-kubernetes` on `k3s`, we didn't try it ourselves yet 👍
Reading the logs it looks like the API storage is not registered:
[code]
This ressource is defined [here](https://github.com/docker/compose-on-kubernetes/blob/f8d21b8fd3d904558e05c46f77048064db5c9f24/internal/internalversion/storagescheme.go).
I wonder if it has something to do with k3s

[2019-08-22 08:18] ArneMancofi opened #123 "Install on Azure AKS guide: Adjust etcd server URL when using TLS"
In the subsection [Compose on Kubernetes](https://github.com/docker/compose-on-kubernetes/blob/master/docs/install-on-aks.md#deploy-compose-on-kubernetes) of the [Installation on Azure AKS guide](https://github.com/docker/compose-on-kubernetes/blob/master/docs/install-on-aks.md), it seems that the installer command
[code]
should be tweaked when using Mutual TLS into something like
[code]
(i.e., `h

[2019-08-22 14:29] silvin-lubecki commented on #123
Hello @ArneMancofi thank you for filling this issue 👍
Do you feel confident with opening a PR to modify the guides?

[2019-09-26 14:00] Alrexxar commented on #119
@alanjds I got the same problem and i think the issue may arise due to RBAC and the lack of a service account
Have you found a solution in the meantime?

[2019-09-26 18:10] alanjds commented on #119
We settled to use https://github.com/kubernetes/kompose instead on my team. All the transformation occurs on a dev/ci-cd machine and we can do transformations on the output .yaml before applying.

[2019-10-10 08:32] ndeloof commented on #122
Internally tracked as https://docker.atlassian.net/browse/CONK8S-41

[2019-10-10 09:36] guillaumerose opened #150 "k8s 1.16: serialization issue, namespace deletion hangs"
Yesterday, I tried to integrate compose-on-kubernetes v0.4.24 in Docker Desktop but faced one strange issue. It's not triggered when using kind in the CI here.

Steps:
1. Install Docker Desktop with Kubernetes 1.16 - https://download-stage.docker.com/mac/edge/39313/Docker.dmg
2. Enable Kubernetes
3. `kubectl create ns redis`
4. `kubectl delete ns redis` hangs forever.

kube-controller log shows pl

[2019-10-11 15:47] chris-crone commented on #150
It appears that while all other requests to the Compose API Server use JSON, delete collection (which is called as part of delete namespace) always uses protobuf – even if we register the API Server as only having JSON and YAML support. I think this is a Kubernetes 1.16 bug and we are looking for a work around.

[2019-10-26 18:43] stylergergely commented on #108
The same thing here. In my case `kubectl get all --namespace compose` returns the following:
[code]

[2019-10-26 19:34] ghost opened #151 "The installer CLI properties use single dash instead doubles dashes"
The GKE documentation shows the following:
[code]
While it's true that the Darwin installer for example shows single dashes in the usage instructions, but single dashes will eventually cause the installation fail in GKE. Double dashes work though:
[code]

[2019-10-28 08:39] silvin-lubecki commented on #151
Hello @Fogetti , thank you for reporting this issue 👍
While we obviously can update this, we think it's better if the PR comes from the community.
Do you think you can create a PR to fix it? If you need any help feel free to reach us!

[2019-11-07 15:57] #150 closed

[2019-11-14 19:35] jessechahal opened #154 "Deploying Helm Charts using docker-compose"
I was reading [https://www.docker.com/blog/simplifying-kubernetes-with-docker-compose-and-friends/](https://www.docker.com/blog/simplifying-kubernetes-with-docker-compose-and-friends/)

I haven't seen any issues, documentation, or examples in this repo talking about deploying helm charts with docker-compose so I thought I would create a new one here. Is there any information about this helm plugin

[2019-12-02 17:27] xgeraldx commented on #57
I still cannot fine how to define the persistent volumes in a compose file....I created the claims already in K8s, with the same names in the compose file. When the stack is created it still creates the persistent volume claims with all the defaults. How can I change the storage size as well as the persistent volume name? Thanks in advance.

[2019-12-03 22:22] natehaze opened #155 "Can't use NodePort with minikube "bare metal""
Short story.  Minikube without a vm driver uses a load balancer which does NOT map to the external IP of the minikube/docker host.  It seems that minikube tunnel is supposed to help with this, but it does not seem to work in a 'bare metal' environment.  The service created by compose on kubernetes is therefore not accessible on the **host** by the published port (5100), only the random NodePort (3

[2019-12-18 21:32] alechp opened #156 "etcd install instructions outdated"
**Error**

[code]

**Reason for Error**

**Reference**

![image](https://user-images.githubusercontent.com/3058939/71124736-5bf9d000-219a-11ea-822b-a0c593891a8b.png)

PS. Created an issue instead of a PR because I'm not sure what versions this tutorial is targeting

[2020-01-03 23:15] alechp commented on #108
Minikube
<img width="1552" alt="Screen Shot 2020-01-03 at 3 13 39 PM" src="https://user-images.githubusercontent.com/3058939/71754597-b2723a00-2e3b-11ea-9623-c30995e1763b.png">

Kubectl
<img width="1552" alt="Screen Shot 2020-01-03 at 3 13 05 PM" src="https://user-images.githubusercontent.com/3058939/71754563-9078b780-2e3b-11ea-877f-26e64c5847bb.png">

[2020-01-06 15:29] silvin-lubecki commented on #108
@alechp It looks like the compose controller pod has a `CrashLoopBackOff`, can you print the logs/events you have on this pod?

[2020-01-09 11:31] phantasia15 commented on #108
Encounter the same problem with microk8s & docker-cli 19.03.5.
I did a bit of tracing and found out that:
- The error message "failed to find a Stack API version" is because docker-cli fails to authenticate with the cluster. The result is an empty list (403 denied) so it cannot find the compose api.
- docker-cli 19.03+ uses `docker context` to manage cluster endpoints instead of directly reading f

[2020-01-13 22:39] alechp commented on #108
Any idea how to specify docker version for minikube ? I can set the k8s version, but it still defaults to latest docker - even when I downgrade my local CLI to 18.09.2 (on mac)

[2020-01-15 13:22] ulyssessouza opened #157 "Release v0.5.1-alpha1"
Closes: https://github.com/docker/dev-tooling-team/issues/2

[2020-02-06 13:53] silvin-lubecki commented on #108
@phantasia15  A PR has been opened on docker/cli to fix the auth issue https://github.com/docker/cli/pull/2308 👍

[2020-02-10 16:07] ulyssessouza commented on #157
Closing because the release could be tested in without having to release a version just for it

[2020-02-10 16:07] #157 closed

[2020-02-12 16:30] stefaner1 opened #158 "Installation problem"
When trying to install it on Ubuntu with microk8s I try to use this command, but it doesn't work:
` ./installer-[darwin|linux|windows.exe] -namespace=compose -etcd-servers=http://compose-etcd-client:2379`

This doesn't work too:
`./installer-linux -namespace=compose -etcd-servers=http://compose-etcd-client:2379`

Do I miss sth?

[2020-03-11 18:50] tubbo opened #159 "Redeploying Application on Docker Stack"
Initially deploying my Docker Stack to Kubernetes goes well, but when I try to run the `docker stack deploy` command again after updating my application server's image, it doesn't seem to have any effect. Is `docker stack deploy` supposed to be able to update pods in place when the image it specifies has changed?

**docker version**
[code]

**docker info**:

[code]

[2020-03-18 20:52] ebeltran1981 commented on #158
@stefaner1 I am having the same issue. Looking at the compose/compose-api pods, they are logging an error: `W0318 20:36:44.333026       1 clientconn.go:1120] grpc: addrConn.createTransport failed to connect to {http://compose-etcd-client:2379 0  <nil>}. Err :connection error: desc = "transport: Error while dialing dial tcp: lookup compose-etcd-client on 10.152.183.10:53: no such host". Reconnectin

[2020-03-19 09:36] stefaner1 commented on #158
They fixed It here: #151

`Run installer-[darwin|linux|windows.exe] --namespace=compose --etcd-servers=http://compose-etcd-client:2379`

But it looks like it all buggy. I couldn't make it to the end of installation.

[2020-03-19 13:48] ebeltran1981 commented on #158
@stefaner1 I got it figure it out.

[here](https://github.com/docker/compose-on-kubernetes/blob/master/docs/install-on-microk8s.md#deploy-etcd), in the instructions to install etcd, the [Option 1](https://github.com/docker/compose-on-kubernetes/blob/master/docs/deploy-etcd.md#option-1-create-an-etcd-cluster-for-quick-evaluation) says is only for evaluation; apparently that is the service the `http

[2020-03-25 17:53] tubbo commented on #27
I've adding `x-pull-secret: regcred` to my compose file and it doesn't seem to have any effect. I created it with the following command:

    kubectl create secret generic regcred --from-file=.dockerconfigjson=~/.docker/config.json --type=kubernetes.io/dockerconfigjson

It definitely exists, I can `kubectl describe` the secret, but it's not getting copied over to Kubernetes. Is there something tha

[2020-03-25 18:21] tubbo commented on #57
This completely shits the bed on DigitalOcean since they require 1GB volume mounts as a minimum. All PVCs fail when trying to deploy.

[2020-03-30 07:03] ArneMancofi commented on #27
I have specified
[code]
and checked client and server versions:
[code]

[2020-04-02 15:05] justincormack commented on #154
Hi, we did an experimental Helm v2 plugin. We recently did start some very early experiments with Helm v3 but not sure what state it is in. I would recommend opening an issue on https://github.com/docker/roadmap rather than here.

[2020-05-29 18:36] tkg61 opened #161 "Deploying with GPU"
Is there any way to specify whether or not a container should give given access to an Nvidia GPU inside the k8s cluster? I know compose 3 doesn't work with GPUs yet but wasn't sure if it could be added into a compose that is then deployed on k8s

I tried adding:
[code]

but the nvidia.com/gpu:1 key was not found

[2020-07-09 07:35] moracabanas commented on #122
I get the same on k3s cluster it says just "Unauthorized" and I don't know about to debug it

[2020-07-11 14:29] DonnyVerduijn opened #164 "compose-on-kubernetes is removed from Docker Desktop"
Please note that since Docker Desktop 2.3.3.0 compose-on-kubernetes needs to be installed separately. The Readme should be updated accordingly.

[2020-07-13 09:16] chris-crone commented on #164
Hi @DonnyVerduijn,

Do you mean the README on this repo or for Desktop?

On this repo, we had a PR to update the README but hadn't merged it yet. It's [now merged](https://github.com/docker/compose-on-kubernetes#install-compose-on-kubernetes-on-docker-desktop).

[2020-07-13 18:33] DonnyVerduijn commented on #164
Nvm, didn't notice the pull request.

[2020-07-13 18:33] #164 closed

[2020-07-29 21:15] huuhait commented on #155
up

[2020-08-13 10:44] ArneMancofi commented on #98
The [etcd operator project](https://github.com/coreos/etcd-operator) is no longer actively developed or maintained. Shouldn't compose-on-kubernetes then move away from etcdop now?

[2020-08-19 04:34] jm241825 opened #165 "How To Pass A K8s Secret To The 'docker deploy stack' Command"
I'm trying to deploy an application onto a Kubernetes Cluster with images that are stored in a private DockerHub registry.  When I run the command:
`docker stack deploy --orchestrator=kubernetes -c docker-compose.yml <stack-name> --namespace <Kubernetes-namespace>`
I get error messages that the image(s) cannot be pulled for 3 of the 5 containers that are being deployed.

I've created a K8s Secret

[2020-09-01 11:47] andrescarrasco opened #166 "Unauthorized error on docker stack deploy with microk8s"
Hi! I am having an issue that is quite similar to https://github.com/docker/compose-on-kubernetes/issues/122, but I am using microk8s.

I followed the [instructions for using microk8s](https://github.com/docker/compose-on-kubernetes/blob/master/docs/install-on-microk8s.md) on a fresh Ubuntu 20.04 server image, and on the deploy stack command, i get:

[code]

I tried supplying the kube config file,

[2020-11-08 15:56] olivierlemasle opened #169 "Configure license checker"
Currently, CI is always failing due to [wwhrd](https://github.com/frapposelli/wwhrd) license checks.

Here are the problematic packages:

[code]

Either this is really problematic and these dependencies should be removed (it does not seem possible !), or you should [configure](https://github.com/docker/compose-on-kubernetes/blob/master/.wwhrd.yml) the license checker to accept BSD-3-Clause and oth

[2020-11-15 08:24] TBBle commented on #169
[Golang itself](https://golang.org/LICENSE) is under the [3-clause BSD license](https://opensource.org/licenses/BSD-3-Clause).

[2020-11-15 13:15] yevgenykuz opened #171 "etcd-operator instructions in deploy etcd README no longer work"
etcd-operator helm chart is now deprecated:
https://github.com/helm/charts/pull/24308

[deploy-etcd.md](https://github.com/docker/compose-on-kubernetes/blob/master/docs/deploy-etcd.md) guides to use the `https://kubernetes-charts.storage.googleapis.com/` repo for etcd-operator, which no longer has etcd-operator in it.

[2020-11-20 00:33] cclauss commented on #171
[code]

[2020-11-20 11:22] cclauss opened #172 "the server is currently unable to handle the request (get stacks.compose.docker.com)"
How should I resolve the following error on Docker Desktop Mac?

% `docker stack ls`
[code]
I installed yesterday everything was working smoothly.  I even did a few example projects including wordsmith.

Then I rebooted.  ;-(  Now I get this error and do not know how to debug.

% `kubectl api-versions | grep compose`
[code]

[2020-11-20 11:28] cclauss opened #173 "Feature request: brew install compose-on-kubernetes"
https://brew.sh

It is already possible to `brew install docker-compose etcd helm kubernetes-cli` so it would be awesome to be able to add `compose-on-kubernetes` to that list.

[2021-02-05 18:06] chris-crone commented on #173
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:06] #173 closed

[2021-02-05 18:06] chris-crone commented on #172
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:06] #172 closed

[2021-02-05 18:06] chris-crone commented on #171
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:06] #171 closed

[2021-02-05 18:06] chris-crone commented on #169
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:06] #169 closed

[2021-02-05 18:06] chris-crone commented on #166
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:06] #166 closed

[2021-02-05 18:06] chris-crone commented on #165
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:06] #165 closed

[2021-02-05 18:07] chris-crone commented on #161
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:07] #161 closed

[2021-02-05 18:07] chris-crone commented on #159
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:07] #159 closed

[2021-02-05 18:07] chris-crone commented on #158
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:07] #158 closed

[2021-02-05 18:07] chris-crone commented on #156
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:07] #156 closed

[2021-02-05 18:07] chris-crone commented on #155
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:07] #155 closed

[2021-02-05 18:07] chris-crone commented on #154
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:07] #154 closed

[2021-02-05 18:07] chris-crone commented on #151
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:07] #151 closed

[2021-02-05 18:08] chris-crone commented on #123
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:08] #123 closed

[2021-02-05 18:08] chris-crone commented on #122
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:08] #122 closed

[2021-02-05 18:08] chris-crone commented on #119
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:08] #119 closed

[2021-02-05 18:08] chris-crone commented on #118
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:08] #118 closed

[2021-02-05 18:08] chris-crone commented on #108
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:08] #108 closed

[2021-02-05 18:08] chris-crone commented on #107
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:08] #107 closed

[2021-02-05 18:08] chris-crone commented on #105
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:08] #105 closed

[2021-02-05 18:09] chris-crone commented on #98
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:09] #98 closed

[2021-02-05 18:09] chris-crone commented on #66
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:09] #66 closed

[2021-02-05 18:09] chris-crone commented on #59
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:09] #59 closed

[2021-02-05 18:09] chris-crone commented on #58
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:09] #58 closed

[2021-02-05 18:09] #45 closed

[2021-02-05 18:09] #51 closed

[2021-02-05 18:09] #57 closed

[2021-02-05 18:10] chris-crone commented on #40
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:10] #40 closed

[2021-02-05 18:10] chris-crone commented on #35
Hi! Thanks for your feedback. Unfortunately we're no longer maintaining this repository so I will close this issue.

[2021-02-05 18:10] #35 closed

[2021-02-05 18:10] #9 closed

[2021-02-05 18:10] #27 closed